h1{
    color: brown;
    text-align: center;
}
table{
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse; 
}
table th,td{
    padding: 5px;
    text-align: center;
}
table th{
    color:navy;
}